<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyCast Weather</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="weather-card">

        <h1>SkyCast</h1>

        <div class="search-box">
            <input type="text" id="city" placeholder="Enter City Name">
            <button onclick="getWeather()">Search</button>
        </div>

        <div id="weather">

            <img id="icon" src="" alt="">

            <h2 id="cityName">Search a city</h2>

            <div class="temp" id="temp">--°C</div>

            <div class="details">

                <div class="detail-card">
                    <span>Humidity</span>
                    <h3 id="humidity">--%</h3>
                </div>

                <div class="detail-card">
                    <span>Wind</span>
                    <h3 id="wind">-- km/h</h3>
                </div>

            </div>

        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
